.yajsh
    color = #000
    color rgba(color, 0.8)
    background-color #fefefe
    font 12px PragmataPro, Monaco, Consolas, monospace

    .stmt

        > .function
            color = #5677fc
            > .keyword
                color color
            > .name
                color color
            > .punctuation
                color rgba(color, 0.6)

        > .var
            color = #259b24
            > .keyword
                color color
            > .name
                color color
            > .punctuation
                color rgba(color, 0.6)

    .comment
        color rgba(color, 0.5)
        > .punctuation
            color rgba(color, 0.3)


    .keyword
        font-weight bold
